---
import CardTestimonio from "../components/CardTestimonio.astro";
import ProductCards from "../components/ProductCards.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ALDEANTH">
	<main>
		<section class="fondo">
			<div class="mensaje">
				<h1>¡Dale un gusto a tu día!</h1>
				<br />
				<p>
					Descubre nuestros deliciosos helados y disfruta de sabores
					únicos, frescos y naturales.
				</p>
			</div>
			<div class="button">
				<a href="#"><button>¡Encuentra tu sabor favorito</button></a>
			</div>
		</section>
		<section class="container-content">
			<h1>
				<i class="fa-regular fa-star"></i> Nuestros productos destacados
			</h1>
			<div class="content">
				<ProductCards />
				<ProductCards />
				<ProductCards />
				<ProductCards />
			</div>
		</section>
		<section class="test_cliente">
			<h1><i class="fa-solid fa-message"></i> Opiniones que Endulzan</h1>
			<div class="content_test">
				<CardTestimonio
					image="https://cdn.pixabay.com/photo/2014/04/12/14/59/portrait-322470_640.jpg"
					user="Carlos Gómez"
					comentario="El helado tiene un toque único que no encuentras en ningún otro lado. Los sabores son auténticos, y el ambiente del lugar es súper acogedor. ¡100% recomendado!"
				/>
				<CardTestimonio
					image="https://cdn.pixabay.com/photo/2015/03/03/08/55/portrait-657116_640.jpg"
					user="Mariana Torres"
					comentario="Me encanta lo natural que saben los helados aquí. Puedes sentir la frescura en cada cucharada. Además, el personal siempre es muy amable."
				/>
				<CardTestimonio
					image="https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_640.png"
					user="Andrés Fernández"
					comentario="Los helados son deliciosos y tienen opciones para todos los gustos. ¡Mi favorito es el de maracuyá! Definitivamente es mi lugar favorito para disfrutar un buen postre."
				/>
			</div>
		</section>
	</main>
</Layout>

<style>
	.fondo {
		width: 100%;
		height: 600px;
		background-size: cover;
		background-size: cover;
		background-position: center;
		background-image: url(assets/Fondo.webp);
	}
	.mensaje {
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: flex-end;
		width: 40%;
		height: 250px;
	}
	.mensaje h1 {
		font-size: 48px;
	}
	.mensaje p {
		font-size: 20px;
		text-align: left;
		font-family: "Courier New", Courier, monospace;
	}
	.button {
		margin-top: 40px;
		width: 40%;
		height: 50px;
		display: flex;
		justify-content: center;
	}
	.button a button {
		height: 50px;
		padding: 0 20px;
		font-size: 18px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		border-radius: 10px;
		border: none;
		background-color: rgb(255, 196, 0);
	}
	button:hover {
		background-color: #ff8c00;
		border-color: #ff6347;
		box-shadow: 0 4px 30px rgba(255, 99, 71, 0.6);
		transform: scale(1.05);
	}
	button:active {
		transform: scale(0.95);
		background-color: #ff4500;
		box-shadow: 0 0 15px rgba(255, 38, 0, 0.8);
	}
	.container-content h1 {
		text-align: center;
		font-size: 30px;
		margin: 10px 0;
	}
	.content {
		justify-content: center;
		display: flex;
		gap: 18px;
	}
	.test_cliente {
		margin-top: 50px;
		padding: 15px 0;
		background-color: rgb(247, 247, 247);
	}
	.test_cliente h1 {
		text-align: center;
		margin: 20px 0;
		font-size: 30px;
	}
	.content_test {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	/* Estilos para pantallas pequeñas (tabletas en modo retrato) */
	@media (min-width: 768px) and (max-width: 991px) {
		.mensaje {
			width: 90%;
			height: 160px;
			justify-content: start;
		}
		.mensaje p {
			font-size: 25px;
		}
		.button {
			margin-top: 0;
		}
	}

	/* Estilos para dispositivos móviles */
	@media (max-width: 767px) {
		.mensaje {
			width: 90%;
			height: 160px;
			justify-content: start;
		}
		.mensaje h1 {
			font-size: 30px;
		}
		.mensaje p {
			text-align: center;
			font-size: 16px;
		}
		.button {
			margin-top: 0;
		}
		.button a button {
			width: 100px;
			height: 40px;
			padding: 0 20px;
			font-size: 10px;
			margin-left: 55px;
		}
		.content_test{
			gap: 10px;
		}
	}
</style>
