<footer>
    <div class="first_section">
        <div class="footer_perfil">
            <div class="image_name">
                <img
                    src="https://cdn.pixabay.com/photo/2020/05/17/20/21/cat-5183427_1280.jpg"
                    alt=""
                />
                <h2>ALDEANTH</h2>
            </div>
            <div class="descripcion_perfil">
                <p>
                    Una experiencia helada como ninguna otra. En nuestra tienda,
                    cada helado es preparado con ingredientes frescos y mucho
                    amor, ofreciendo sabores auténticos que despiertan recuerdos
                    y crean momentos inolvidables. ¡Ven a disfrutar del dulce
                    placer de lo hecho en casa!
                </p>
            </div>
        </div>
        <div class="pages">
            <div class="list-pages">
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
            </div>
            <div class="pages_social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <hr />
    <div class="second_section">
        <div class="tienda">
            <p>15 Noviembre 2024</p>
            <p>
                &copy; ALDEANTH. Todos los derechos reservados. Disfruta lo
                auténtico, disfruta lo nuestro.
            </p>
        </div>
        <div class="desarrollador">
            <p>Desarrollado por XtheUchyX | © 2024</p>
        </div>
    </div>
</footer>
<style>
    footer{
        padding: 20px 0;
        background-color: #3e3e3e;
    }
    .image_name {
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
    }
    .image_name img {
        width: 100%;
        height: 100px;
        border-radius: 50%;
        padding: 0 5px;
    }
    .image_name h2{
        color: rgb(238, 238, 238);
    }
    .descripcion_perfil {
        width: 400px;
        font-family: "Times New Roman", Times, serif;
    }
    .descripcion_perfil p {
        color: rgb(238, 238, 238);
    }
    .first_section {
        margin: 0 80px;
        display: flex;
        justify-content: space-between;
    }
    .list-pages ul {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 20px;
    }
    .list-pages ul a{
        color: rgb(238, 238, 238);
    }
    hr {
        margin: 10px 0;
    }
    .second_section{
        margin: 0 80px;
    }
    .pages_social {
        font-size: 27px;
        margin-top: 20px;
        text-align: end;
    }
    .pages_social a i{
        color: rgb(238, 238, 238);
    }
    .tienda{
        display: flex;
        justify-content: space-between;
    }
    .tienda p{
        color: rgb(238, 238, 238);
        font-family: "Times New Roman", Times, serif;
    }
    .desarrollador{
        text-align: center;
        margin: 20px 0;
    }
    .desarrollador p{
        color: rgb(238, 238, 238);
        font-family: "Times New Roman", Times, serif;
    }
    
</style>
